@using TikKok.Common
@model TikKok.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<ul>
    <li>Videos: @Model.VideosCount</li>
    <li>Tags: @Model.TagsCount</li>
    <li>Users: @Model.UsersCount</li>
</ul>
