@using TikKok.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



<div class="container-fluid h-100 d-flex flex-column">
    <div class="col-md-9 col-sm-11 justify-content-center" style="margin: auto">


        @foreach (var post in this.Model)
        {
            <div class="cards-spacing">
                <div class="card text-center">
                    <div class="card-header">
                        <span class="post-title">@@@post.CredentialUsername</span>
                        <span class="post-date">@post.UploadDate</span>
                    </div>
                    <div class="card-body">
                        <video width="300" height="600" controls loop>
                            <source src="@post.Path" type="video/mp4">
                        </video>
                        <p class="card-text likes">12,098 Likes</p>
                        <p class="card-text">This is a very special moment in my life #breathecode #iphone #instalikes #igers</p>
                    </div>
                    <div class="card-footer text-muted">
                        <form method="post" asp-action="Delete" id="deleteForm" asp-route-id="@post.PostId">
                            <button type="submit"> Delete </button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
